/MRDGenerateReport.class
/MRDGenerateReportUpdateObservations.class
/GetOutletInfoJSON.class
/GetPCIOutletInfoJSON.class
/MRDOutletsDeleteOutlet.class
/MRDOutletsDeletePCIOutlet.class
/MRDOutletsExecute.class
/MRDPCIOutletsExecute.class
