/Connect.class
/CustomDestinationDataProvider$MyDestinationDataProvider.class
/CustomDestinationDataProvider.class
/GetOrderInfoJson.class
/GetSalesOrderStatusJson.class
/SAPTest.class
/SAPUtilities.class
/SalarySlip.class
/SalarySlipExecute.class
/SyncAR.class
/SyncAssets.class
/SyncEmployeesExecute.class
/SyncExecuteShell.class
/SyncGLPrimary.class
/SyncHCM.class
/SyncOutletMaster.class
/SyncOutlets.class
/SyncSales.class
/SyncSalesInternal.class
/SyncSalesOrdersAndInvoices.class
/SyncCashSummary.class
/SyncKONV.class
/SyncDistributorStatement.class
/DraftOutletLoadExecute.class
